
.main_chat_3
  .main_chat__main-header_5
    .main_chat__main-header__leftbox_14_0
      .main_chat__main-header__current-group_14
        %h2 #{@group.name}
      %ul.main_chat__main-header__member-list_15
        Members:
        - @group.users.each do |user|
          %span.chat-header__user #{user.name}
    .chat-header__edit-btn_19
      = link_to 'Edit', edit_group_path(@group), class: 'chat-header__edit-btn'
      -# 2/3確認_問9-3（問題7）
        
  .message
    = render @messages

  .post_1
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'post__message_2', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'post__mask__image_3' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden_4'
      = f.submit 'Send', class: 'post__submit_5'

-# .main-content
-#   .chat-header
-#     .chat-header--left
-#       %h2 #{@group.name}
-#       .chat-header__users
-#         Members:
-#         - @group.users.each do |user|
-#           %span.chat-header__user #{user.name}
-#     .chat-header--right
-#       = link_to 'Edit', edit_chat_group_path(@chat_group), class: 'chat-header__edit-btn'
