-# 1/21 hamlファイルを作成
-# 試し書き サイドバー→チェック済

-# テスト書き
-# ↑1/23普通に書くだけで表示された


.side-bar_2
 .side-bar__header_4
  .side-bar__header-box_9
   .side-bar__header-box__name_10
    = current_user.name
   %ul.header--box__button-list_11
    %li.header--box__button-new_12
     = link_to new_group_path do
      -# 1/29_グループ編集機能で修正。クリックしたらグループの新規作成画面に遷移
      = icon('fa', 'edit',class: 'icon',)
    %li.header--box__button-edit_13
     = link_to edit_user_path(current_user) do
      = icon('fas', 'cog', class: 'icon')
 .side-main__group_6
  - current_user.groups.each do |group|
   .group_24
    -# = link_to '#' do 下記に修正1/30 L9-3_解答5
    = link_to group_messages_path(group) do
     .group__name_25
      = group.name
     .group__message_26
      -# メッセージはまだありません。下記に修正1/30_L9-3_解答6
      = group.show_last_message

  
